@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    font-family: Roboto;
    direction: rtl;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0) scale(1);
    width: 24.66vh;
    height: 59.23vh;
    padding-left: 22vh;
}
#full_body {
    opacity: 0.95;
}
.body_ img {
    position: absolute;
    width: 24.66vh;
    height: 59.23vh;
}
#body_damages_img {
    -webkit-animation: fadeIn_fadeOut 0.9s ease-in-out infinite alternate;
    animation: fadeIn_fadeOut 0.9s ease-in-out infinite alternate;
}
@-webkit-keyframes fadeIn_fadeOut {
    0% {
        opacity: 0.9;
        transform: scale(1.01);
    }
    to {
        opacity: 0.7;
        transform: scale(1);
    }
}
#button_check {
    padding: 1vh 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.information {
    position: absolute;
    right: 21.5vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 1vh;
    border-radius: 1.25vh;
    font-size: 1.5vh;
}
.information #information_title {
    text-align: center;
    font-size: 2.5vh;
}
