@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

#controls {
  font-family: pcdown;
  font-size     : 3em;
  position      : absolute;
  bottom        : 40;
  right         : 40;
  
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000
  ;
}

.controls {
  display: none;
}

.dialog { 
  /* border-color: rgba(248, 163, 25, 0);
  border-style: solid; */
  border-radius: 10px;
  font-family: bankgothic;  
  position        : absolute;
  overflow        : hidden;
  top             : 50%;
  left            : 50%;
  width           : 360px;
  height          : 175px;
  transform       : translate(-50%, -50%);
  color:#fff;
  box-shadow: 0 0 30px #000000d6;
}

.dialog.big {
  height: 200px;
}

.dialog .head {
  font-size: 0%;  
  background:radial-gradient(#ff3547, #be1919);
  text-align      : center;
  background-size: cover ;
  background-repeat: no-repeat;
  height          : 85px;
}

.dialog .head span:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-top: 8px;
  width: 70px;
  height: 70px;
  background: url(/html/images/logo.png);
  background-size: contain;
}

.dialog .text {
  text-align      : center;  
  font-family: bankgothic;
  font-size: 100%;
  display         : block;
  background-color: #be1919;
  box-shadow      : inset 1px 0px 0px 1px #be1919;
  height          : 25px;
  line-height     : 25px;
  opacity: 1.0;  
}

.dialog input[type="text"] {
  width : 100%;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.678);
  border: 1px solid rgba(248, 163, 25, 0);
  color: #fff;
}
.dialog input[type="text"]:focus {
  outline: none;
}

.dialog textarea {
  width : 100%;
  height: 128px;
  background-color: #020100;
  opacity: 0.8; 
}

.dialog button[name="submit"] {
  width : 65%;
  height: 32px;
  background-color: #be1919;
  opacity: 1;  
  border-color: rgba(248, 163, 25, 0);
  border-style: solid;
  border-radius: 5px 0px 0px 0px;
  text-transform: uppercase;
  color: #fff;
}

.dialog button[name="cancel"] {
  width : 35%;
  height: 32px;
  background-color: rgb(48, 47, 47);
  opacity: 1;  
  border-color: rgba(248, 163, 25, 0);
  border-style: solid;
  border-radius: 0px 5px 0px 0px;
  text-transform: uppercase;
  color: #fff;
}